.titulo{
    color: #3da5e2;
    font-variant: small-caps;
}
.texto{
    color: #545454;
    font-size: 1rem;
    letter-spacing: .15rem;
}

.formulario textarea{
    min-height: 12rem;
    max-height: 16rem;
}